.news {
  background-color: #004a7f;
  -webkit-border-radius: 10px;
  border-radius: 5px;
  border: none;
  position: absolute;
  top: 0;
  left: -1px;
  z-index: 1;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 20px;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
@-webkit-keyframes glowing {
  0% {
    background-color: #b20000;
  }
  50% {
    background-color: #ff0000;
  }
  100% {
    background-color: #b20000;
  }
}

@-moz-keyframes glowing {
  0% {
    background-color: #b20000;
  }
  50% {
    background-color: #ff0000;
  }
  100% {
    background-color: #b20000;
  }
}

@-o-keyframes glowing {
  0% {
    background-color: #b20000;
  }
  50% {
    background-color: #ff0000;
  }
  100% {
    background-color: #b20000;
  }
}

@keyframes glowing {
  0% {
    background-color: #b20000;
  }
  50% {
    background-color: #ff0000;
  }
  100% {
    background-color: #b20000;
  }
}

.mainBox {
  display: none;
  transition: 2s ease-in-out;
}
.img1 {
  display: none ;
}
.img2{
  display: block ;
}

